.main-wrapper {
    .article {
        width: 100%;
        display: inline-block;
        margin-top: 10px;
        background: #e7e7e7;

        .containers {
            padding: 25px 20px;
            margin: 3px;
            border: 1px solid #ccc;
            background: #fff;

            header {
                h1 {
                    font-size: 18px;
                    font-weight: 400;
                    color: #333;
                }
            }
        }
    }
}
