.web-aside-wrapper {
    width: 100%;

    .web-aside-topRead,
    .web-aside-search,
    .web-aside-achive,
    .web-aside-tagCloud,
    .web-aside-friendlyLink {
        margin-bottom: 20px;
    }
}