{
    "extends": "airbnb",
    "ecmaFeatures": {
        "jsx": true,
        "modules": true,
    },
    "env": {
        "browser": true,
        "node": true,
    },
    "parser": "babel-eslint",
    "plugins": [
        "react",
        "import",
        "jsx-a11y",
    ],
    "rules": {
        // 缩进设置
        "indent": ["error", 4],
        "react/jsx-indent": ["error", 4],
        // jsx语法中属性使用双引号
        "jsx-quotes": ["error", "prefer-double"],
        "func-names": [2, "as-needed"],
        "quotes": [2, "single"],
        "strict": [2, "never"],
        "react/jsx-uses-react": 2,
        "react/jsx-uses-vars": 2,
        "react/react-in-jsx-scope": 2,
    },
}
