.ui-wrapper {
    display: flex;
    max-width: 1200px;
    min-width: 900px;
    margin: 20px auto;

    .ui-main {
        flex: 1;
        padding-right: 20px;
    }

    .ui-aside {
        width: 300px;
    }
}