$banner-height: 300px;
$arrow_height: 50px;

.banner {
    width: 100%;
    height: $banner-height;
    margin: 10px auto 0;
    position: relative;
}

.picList {
    width: 1200px;
    height: $banner-height;
    margin: 0 auto;
    perspective: 800px;
    li {
        width: 40px;
        height: inherit;
        float: left;
        position: relative;
        transform-style: preserve-3d;
        transform-origin: center center -150px;
        a {
            width: inherit;
            height: inherit;
            position: absolute;
            top: 0;
            left: 0;
            &:nth-of-type(1) {
                background: url('./img/1.jpg') no-repeat;
            }
            &:nth-of-type(2) {
                background: url('./img/2.jpg') no-repeat;
                // transform-origin: top;
                // transform: rotateX( -90deg );
                top: -300px;
                transform-origin: bottom;
                transform: rotateX(90deg)
            }
            &:nth-of-type(3) {
                background: url('./img/3.jpg') no-repeat;
                // transform: translateZ( -300px );
                transform: translateZ(-300px) rotateX(180deg);
            }
            &:nth-of-type(4) {
                background: url('./img/4.jpg') no-repeat;
                // transform-origin: bottom;
                // transform: rotateX( 90deg );
                transform-origin: top;
                transform: rotateX(-90deg); top:300px;
            }
        }
        span {
            width: 300px;
            height: inherit;
            background: #eee;
            position: absolute;
            &:nth-of-type(1) {
                left: 0;
                transform-origin: left;
                transform: rotateY( 90deg );
            }
            &:nth-of-type(2) {
                right: 0;
                transform-origin: right;
                transform: rotateY( -90deg );
            }
        }
    }
}

.prev {
    width: 50px;
    height: $arrow_height;
    position: absolute;
    top: ($banner-height - $arrow_height) / 2;
    left: 0;
    background: #27cfc3 url( './img/arrow_prev_white.png' ) no-repeat;
    cursor: pointer;
}

.next {
    width: 50px;
    height: $arrow_height;
    position: absolute;
    top: ($banner-height - $arrow_height) / 2;
    right: 0;
    background: #27cfc3 url( './img/arrow_next_white.png' ) no-repeat;
    cursor: pointer;
}
