.web-wrapper {
    display: flex;
    width: 1200px;
    margin: 20px auto;
    zoom: 1;

    .web-main {
        flex: 1;
        padding-right: 20px;
    }

    .web-aside {
        width: 300px;
    }
}