.mobile-aside-wrapper {
    width: 100%;

    .mobile-aside-topRead,
    .mobile-aside-search,
    .mobile-aside-achive,
    .mobile-aside-tagCloud,
    .mobile-aside-friendlyLink {
        margin-bottom: 20px;
    }
}