.to-read-wrapper{
    background-color: #2d373c;
    padding-bottom: 10px;
    &:after {
        display: block;
        width: 300px;
        height: 10px;
        position: relative;
        top: 11px;
        content: '';
        background: url( './img/topReadbg.png' ) no-repeat;
    }

    .to-read-title {
        height: 30px;

        h3 {
            display: inline-block;
            text-indent: 30px;
            color: #39c;
            font-size: 16px;
            line-height: 30px;
            font-weight: 400;
        }

        span {
            display: inline-block;
            font-size: 10px;
            text-indent: 6px;
            color: #adadad;
        }
    }

    .to-read-list {
        width: 255px;
        margin-left: 30px;

        li {
           height: 24px;
           color: #656f79;
           transition: .4s;
           list-style: square;

           a {
                line-height: 24px;
                color: #fff;
                font-size: 12px;
                &:hover {
                    color: #39c;
                }
           }

           &:hover {
                color: #fff;
            }
        }
    }
}
