.article-intro-wrapper {
    height: 455px;
    margin: 20px 0 20px 50px;
    border: 1px solid #e8e8e8;
    border-bottom: 2px solid #fff;
    box-shadow: 0 0 2px rgba(0, 0, 0, .1);
    background: #fff;
    transition: all .3s ease-in-out;
    &:hover {
        border-bottom: 2px solid #3c9dff;
        box-shadow: 0 0 10px rgba(0, 0, 0, .2);
    }

    .container {
        position: relative;
        margin: 10px 20px 10px 40px;

        .title {
            width:100%;
            height: 45px;
            overflow: hidden;
            line-height: 34px;
            font-size: 18px;
            font-weight: 400;
            -webkit-box-reflect: below -40px -webkit-gradient(linear,left top,left bottom,from(transparent),color-stop(10%,transparent),to(hsla(0,0%,100%,.2)));

            a {
                color: #333;
                &:hover {
                    color: #39c;
                }
            }
        }

        img {
            padding:2px;
            border: 1px solid #e6e6e6;
            background: #fff;
            box-shadow: 0 0 5px rgba(0, 0, 0, .3);
            overflow: hidden;
        }

        .main {
            height: 135px;
            margin: 10px 0;
            color: #b0b0b0;
            overflow: hidden;

            h2 {
                border-left: 4px solid #b9d329;
                margin: 20px -19px 10px;
                padding: 10px 15px;
                font-size: 16px;
                color: #222;
                font-family: Microsoft Yahei;
                background: #fbfbfb;
            }

            .mian-content {
                height: 105px;
                overflow: hidden;
            }

            .lick-full {
                margin:10px 0;
                word-wrap: break-word;
                text-indent: 2em;
                line-height: 20px;
                font-size: 14px;

                a {
                    word-break: break-all;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    color: #39c;
                    &:after {
                        content: "";
                        margin-left: 2px;
                        margin-right: 4px;
                        display: inline-block;
                        width: 8px;
                        height: 8px;
                    }
                }
            }
        }

        .msg {
            position: absolute;
            top: 20px;
            left: -90px;
            width: 70px;
            height: 45px;
            background: hsla(0,0%,80%,.4);
            &:after {
                content: "";
                position: absolute;
                top: 45px;
                left: 0;
                border-color: transparent #bbb transparent transparent;
                border-style: solid;
                border-width: 0 50px 20px 0;
                width: 0;
                height: 0;
            }

            span {
                float: left;
                font-size: 12px;
                line-height: 22px;
                color: #666;
                text-indent: 10px;
            }
        }

        .tag {
            width: 100%;
            height: 24px;
            line-height: 24px;
            font-size: 12px;
        }

        .tag {
            span:nth-of-type(1) {
                float: left;
                color: #999;

                a {
                    color: #999;
                    margin: 0 4px 0 0;
                    &:hover {
                        color: #39c;
                    }
                    &:before {
                        content: " #";
                    }
                }
            }

            span:nth-of-type(2) {
                float: right;
                color: #666;

                a {
                    color: #666;
                    margin: 0 4px 0 0;
                    &:hover {
                        color: #39c;
                    }
                    &:before {
                        content: ".";
                    }
                }
            }

            span:nth-of-type(3) {
                float: right;
                color: #666;
                margin-right: 10px;

                a {
                    color: #666;
                    margin: 0 4px 0 0;
                    &:hover {
                        color: #39c;
                    }
                    &:before {
                        content: ".";
                    }
                }
            }
        }
    }
}
