.home-wrapper {
    min-width: 1200px;
    margin: 20px auto;

    .home-container {
        margin: 20px auto;
        width: 1200px;
        display: flex;
        .home-main {
            flex: 1;
            padding-right: 20px;
        }

        .home-aside {
            width: 300px;
    }
    }
}