.word-press-wrapper {
    display: flex;
    width: 1200px;
    margin: 20px auto;

    .word-press-main {
        flex: 1;
        padding-right: 20px;
    }

    .word-press-aside {
        width: 300px;
    }
}