.container {
    max-width: 1200px;
    min-width: 900px;
    margin: 20px auto;
    zoom: 1;

    &:after {
        content: '';
        display: block;
        clear: both;
    }

    .main {
        float: left;
        width: calc(100% - 320px);
        padding-right: 20px;
    }

    .aside {
        float: right;
        width: 300px;
    }
}