.search {
    height: 32px;
    border: 2px solid #bdc3c7;
    margin-bottom: 20px;
}

.input {
    float: left;
    width: 238px;
    height: 28px;
    color: #333;
    line-height: 32px;
    padding: 2px 4px;
    background: #fff;
    outline: 0;
    border: 0;
}

.btn {
    float: left;
    width: 50px;
    height: 32px;
    cursor: pointer;
    color: #fff;
    background-color: #bdc3c7;
    outline: 0;
    border: 0;
    transition: all .2s ease;
}