.record-aside-wrapper {
    width: 100%;

    .record-aside-topRead,
    .record-aside-search,
    .record-aside-achive,
    .record-aside-tagCloud,
    .record-aside-friendlyLink {
        margin-bottom: 20px;
    }
}