.header-wrapper {
    min-width: 1200px;
    height: 74px;
    margin: 0 auto;
    background: #eaebed;
    background: -webkit-gradient(linear,left top,left bottom,from(#fff),to(#d4d7db));
    box-shadow: 0 4px 4px rgba(0,0,0,.2);

    .header-containers {
        display: flex;
        width: 1200px;
        margin: 0 auto;
    }

    .header-logo {
        flex: 1;
        h1 {
            height: 74px;
            line-height: 74px;
        }
    }

    .header-list {
        a {
            display: inline-block;
            width: 90px;
            height: 74px;
            line-height: 74px;
            text-align: center;
            color: #2b2b2b;
        }
    }
}
