.code-aside-wrapper {
    width: 100%;

    .code-aside-topRead,
    .code-aside-search,
    .code-aside-achive,
    .code-aside-tagCloud,
    .code-aside-friendlyLink {
        margin-bottom: 20px;
    }
}