.word-press-aside-wrapper {
    width: 100%;

    .word-press-aside-topRead,
    .word-press-aside-search,
    .word-press-aside-achive,
    .word-press-aside-tagCloud,
    .word-press-aside-friendlyLink {
        margin-bottom: 20px;
    }
}