.skill-aside-wrapper {
    width: 100%;

    .skill-aside-topRead,
    .skill-aside-search,
    .skill-aside-achive,
    .skill-aside-tagCloud,
    .skill-aside-friendlyLink {
        margin-bottom: 20px;
    }
}