// css reset
body {
    color: #2b2b2b;
    background: #f1f1ef;
}

body, h1, h2, h3 {
    margin: 0;
    font: 14px/1.5 Microsoft YaHei,Arial,Helvetica,sans-serif;
}

ul, ol {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

img {
    border: 0;
}

// public
.clearfix {
    zoom: 1;
}

.clearfix:after {
    content: '';
    display: block;
    clear: both;
}

.fl {
    float: left;
}

.fr {
    float: right;
}

.filter-containers {
    padding-bottom: 25px;
    display: flex;
    & > div:nth-of-type(1) {
        flex: 1;
    }
}

.main-containers {
    padding-top: 25px;
    display: flex;
}
