.logo {
    float: left;
    h1 {
        height: 74px;
        line-height: 74px;
    }
}

.list {
    float: right;
    a {
        display: inline-block;
        width: 90px;
        height: 74px;
        line-height: 74px;
        color: #2b2b2b;
    }
}
