.search-result-wrapper {
    display: flex;
    width: 1200px;
    margin: 20px auto;

    .search-result-main {
        flex: 1;
        padding-right: 20px;
    }

    .search-result-aside {
        width: 300px;
    }
}